tbody {
    display: table-row-group;
    vertical-align: middle;
/*    text-align: left;    */
    border-color: inherit;
}

#menu {
    position: fixed;
    left: 5%;
    top: 6%;
    text-align: center;
}


.rnd {
    position: fixed;
    left: 48%;
    top: -1%;
}

.rnd img {
    width: 30px;
    height: 30px;
}

#sufler {
    position: fixed;
    left: 0%;
    bottom: -1%;
    width: auto;
    margin: 10px;
    font-size: 25px;
    color: #888888;
    z-index: 1;

}

#text3 { position: fixed; /*right: 3%;  */
left: 5%; bottom:5%; margin: auto; width: 89%; /*height: 220px;*/  font-size: 18px; text-align:left;
padding: 10px; overflow: hidden;   text-overflow: ellipsis; background-color: #202020 ;
border-radius: 10px;  box-shadow: 8px 8px 10px 1px gray; }
