/*
body {background: url(bg.png) no-repeat fixed; }  */  
body {background: url(bg.png) repeat; }


*:focus {
  outline: none;
}

a, div {
    outline: none; /* Убираем границу вокруг ссылок  */
     }

/* всегда поворот в  landscape */
@media screen and (orientation:portrait)  {

body { background: url(bg.png) repeat; }    

html{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
     transform: rotate(-90deg);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
     -o-transform-origin: left top;
     transform-origin: left top;
        position: absolute;
        top: 100%;
            left: 0
    }
}



@viewport {
  orientation: landscape;
}

@media all   { 

div img { border-radius: 5px;
    width:110px;
    height:66px;
    opacity: 1;
} 


 

 }

@media only screen and (min-width: 640px){

div img { border-radius: 5px;
    width:110px;
    height:66px;
    opacity: 1;
} 

      table {
    width:100%;
    height:100%;  
         }




}




}


@media only screen and (min-width: 1280px){
div img { border-radius: 10px;
    width:220px;
    height:132px;
    opacity: 1;
         }

      table {
    width:100%;
    height:100%;  
         }




}

body, div, th, h1, h2 {font-family: sans-serif;}
table {border-collapse: collapse; border-style:none; vertical-align: baseline; }
.center {text-align: center;}
.center table { margin-left: auto; margin-right: auto; text-align: left;}
.center th { text-align: center !important; }

div, th { border: 0px solid #000000; font-size: 75%; vertical-align: baseline;}
h1 {font-size: 150%;}
h2 {font-size: 125%;color: #9900AA;}
.p {text-align: left;}

a:hover {text-decoration: underline;}

img {float: right; border: 0px;}

div img {
    width:176px;
    height:106px;
    opacity: 1;
}


body {
        background: url(bg.png) repeat fixed;  */
        background-color: #000000; 
		color: #FFFF00;
/*        width: 640px;  */
        min-width: 640px;
        padding: 0px;
  
        }

#doc_time
{
	position: absolute;
	left: 0%;
    bottom:0%;
	opacity: 1;
	font-weight: bolder;
	color: #ffffff;
	font-size: 25px; 
	background-color: #222222;
	z-index: 9999;
}

        .btn { background-color: rgba(9, 1, 9, 0.30);
		border-radius: 7%;
	    margin: 0.3%;
  }




        .btn.focus { border-radius: 7%;
            background-color: #006DCC;
            background-image: linear-gradient(to bottom, #FFFFFF, #0044CC);
            background-repeat: repeat-x;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            color: #FFFFFF;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
			box-shadow:0px 0px 40px rgba(255, 255, 255, 1);opacity: 1;border-collapse: collapse;}
        }