.msg_slideshow{align:center;
 width:700px;
 height:250px;
 padding:10px;
 position:relative;
 overflow:hidden;
 background:#101010 url(../icons/loading.gif) no-repeat center center;
 -moz-border-radius:10px;
 -webkit-border-radius:10px;
 border-radius:10px;
}
.msg_slideshow a{
 outline:none;
}
.msg_slideshow a img{
 border:none;
}
.msg_wrapper{
 width:700px;
 height:250px;
 position:relative;
 margin:0;
 padding:0;
 display:table-cell;
 text-align:center;
 vertical-align:middle;
}
.msg_wrapper img{
 display: inline-block!important;
 vertical-align:middle;
 -moz-box-shadow:0px 0px 10px #000;
 -webkit-box-shadow:0px 0px 10px #000;
 box-shadow:0px 0px 10px #000;
}
.msg_controls{
 position:absolute;
 bottom:15px;
 right:-100px;
 width:82px;
 height:26px;
 z-index: 20;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 border-radius:5px;
 background-color:#000;
 opacity:0.8;
 filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
.msg_controls a{
 float:left;
 background-color:#000;
 width:20px;
 height:20px;
 margin:3px 3px;
 opacity:0.5;
 filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
 background-repeat:no-repeat;
 background-position: center center;
}
.msg_thumbs{
 background:#000;
 position:absolute;
 width:255px;
 height:166px;
 top:-230px;
 left:50%;
 padding:30px;
 margin:0 0 0 -155px;
 -moz-border-radius:0px 0px 10px 10px;
 -webkit-border-bottom-left-radius:10px;
 -webkit-border-bottom-right-radius:10px;
 border-bottom-left-radius:10px;
 border-bottom-right-radius:10px;
 -moz-box-shadow:1px 1px 5px #000;
 -webkit-box-shadow:1px 1px 5px #000;
 box-shadow:1px 1px 5px #000;
 opacity:0.9;
 filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
 overflow:hidden;
}

.msg_thumbs a.msg_thumb_next,
.msg_thumbs a.msg_thumb_prev{
 width:18px;
 height:20px;
 background-repeat:no-repeat;
 background-position: center center;
 position:absolute;
 top:50%;
 margin-top:-10px;
 opacity:0.5;
 filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.msg_thumbs a.msg_thumb_next:hover,
.msg_thumbs a.msg_thumb_prev:hover{
 opacity:1.0;
 filter:progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}
.msg_thumbs a.msg_thumb_next{
 background-image:url(../icons/next_thumb.png);
 right:5px;
}
.msg_thumbs a.msg_thumb_prev{
 background-image:url(../icons/prev_thumb.png);
 left:5px;
}


 /* First List Item in First Level Style */
 ul.dark_menu li:first-child {
 margin: 0;
 }

/* List Items Links Style */
ul.dark_menu li a, ul.dark_menu li a:link {
 color: #ffffff;
 text-decoration: none;
 display: block;
 padding: 10px 11px;

 /* Text Shadow */
 text-shadow: 0 1px 0 #4b433e;

 /* Gradient Background */
 background: url('http://delena.ucoz.ru/New_diz_icons/menju.jpg') #4a1b5e; /* Old browsers */
 background: -moz-linear-gradient(top, #cfafdd 0%, #4a1b5e 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfafdd), color-stop(100%,#4a1b5e)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top, #cfafdd 0%,#4a1b5e 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top, #cfafdd 0%,#4a1b5e 100%); /* Opera11.10+ */
 background: -ms-linear-gradient(top, #cfafdd 0%,#4a1b5e 100%); /* IE10+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfafdd', endColorstr='#4a1b5e',GradientType=0 ); /* IE6-9 */
 background: linear-gradient(top, #cfafdd 0%,#4a1b5e 100%); /* W3C */

 /* Border Radius */
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;

 /* Box Shadows */
 -webkit-box-shadow: inset 0 1px 0 #65416e,
 0 1px 1px #29023b;
 -moz-box-shadow: inset 0 1px 0 #65416e,
 0 1px 1px #29023b;
 box-shadow: inset 0 1px 0 #65416e,
 0 1px 1px #29023b;

 
}
/* List Items Links Hover State Style */
ul.dark_menu li a:hover {
 color: #ffffff;
 text-decoration: none;
 /* Text Shadow */
 text-shadow: 0 1px 0 #4b433e;

 /* Gradient Background */
 background: #704a80; /* Old browsers */
 background: -moz-linear-gradient(top, #4a1b5e 0%, #cfafdd 99%, #cfafdd 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a1b5e), color-stop(99%,#cfafdd), color-stop(100%,#cfafdd)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top, #4a1b5e 0%,#cfafdd99%,#cfafdd 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top, #4a1b5e 0%,#cfafdd 99%,#cfafdd 100%); /* Opera11.10+ */
 background: -ms-linear-gradient(top, #4a1b5e 0%,#cfafdd 99%,#cfafdd 100%); /* IE10+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a1b5e', endColorstr='#ece3f9',GradientType=0 ); /* IE6-9 */
 background: linear-gradient(top, #4a1b5e 0%,#cfafdd 99%,#cfafdd 100%); /* W3C */

}

/* List Items Links Active and Selected State Style */
ul.dark_menu li a.selected, ul.dark_menu li a:active {
 color: #73635e;
 background: url('http://delena.ucoz.ru/New_diz_icons/menju.jpg') #4a1b5e;
 text-decoration: none;
 /* Text Shadow */
 text-shadow: 0 1px 1px #000;

 /* Box Shadows */
 -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.6),
 0 1px 0 #8b6694;
 -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.6),
 0 1px 0 #8b6694;
 box-shadow: inset 0 2px 4px rgba(0,0,0,0.6),
 0 1px 0 #8b6694;


}
/* Sub Menu Unordered List Second Level Style */
ul.dark_menu li ul {
 display: none;
}
/* Sub Menu Unordered List Second Level Style
 When Parent List Item is Hovered */
ul.dark_menu li:hover ul {
 position: absolute;
 display: block;
 z-index: 1000;
 left: 0;
 top: 40px;
 padding: 5px 0;
 list-style: none;
 background: #4a1b5e;
 text-decoration: none;
 /* Box Shadows */
 -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.6),
 0 1px 0 #5e524f;
 -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.6),
 0 1px 0 #5e524f;
 box-shadow: inset 0 2px 4px rgba(0,0,0,0.6),
 0 1px 0 #5e524f;

 /* Border Radius */
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
}
/* Before Second Level Unordered List Style */
ul.dark_menu li ul:before {
 content: " ";
 position: absolute;
 display: block;
 z-index: 1500;
 left: 0;
 top: -10px;
 height: 10px;
 width: 100%;
}
/* Second Level Menu List Items Style */
ul.dark_menu li ul li {
 float: none;
 margin: 0 10px;
 border-bottom: 1px solid #340340;
 border-top: 1px solid #61456f;
}

/* First List Item in Second Level Menu Style */
ul.dark_menu li ul li:first-child {
 margin: 0 10px;
 border-top: 0 none;
}

/* Last List Item in Second Level Menu Style */
ul.dark_menu li ul li:last-child {
 border-bottom: 0 none;
}
/* Second Level List Items Links Style */
ul.dark_menu li ul li a, ul.dark_menu li ul li a:link {
 color: #ffffff;
 display: block;
 background: transparent none;
 padding: 10px 20px 10px 5px;
 white-space: nowrap;
 
 text-decoration: none;
 /* Text Shadow */


 /* Box Shadows */
 -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
 -moz-box-shadow: 0 0 0 rgba(0,0,0,0);
 box-shadow: 0 0 0 rgba(0,0,0,0);

 /* Border Radius */
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
}

/* Second Level List Items Links Hover State Style */
ul.dark_menu li ul li a:hover {
 color: #000000;
 text-decoration:none;
 background: #d0a1e3;
 background: -moz-linear-gradient(top, #d0a1e3 0%, #e7bef0 99%, #e7bef0 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0a1e3), color-stop(99%,#e7bef0), color-stop(100%,#e7bef0)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top, #d0a1e3 0%,#e7bef0 99%,#e7bef0 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top, #d0a1e3 0%,#e7bef0 99%,#e7bef0 100%); /* Opera11.10+ */
 background: -ms-linear-gradient(top, #d0a1e3 0%,#e7bef0 99%,#e7bef0 100%); /* IE10+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0a1e3', endColorstr='#91769c',GradientType=0 ); /* IE6-9 */
 background: linear-gradient(top, #d0a1e3 0%,#e7bef0 99%,#e7bef0 100%); /* W3C */
 -webkit-box-shadow: inset 0 1px 0 #e8dded,
 0 2px 0 #260534;
 -moz-box-shadow: inset 0 1px 0 #e8dded,
 0 2px 0 #260534;
 box-shadow: inset 0 1px 0 #e8dded,
 0 2px 0 #260534;
 
}
/*--------------------- кнопки добавить новость и подробнее --------------------*/
.uSpoilerText {padding:5px;}
.uSpoilerOpened {}
.uSpoilerButBl {}
.uSpoilerButton {color: #ffffff;border: none; ; display: block; background:#420a6d;
 background: -moz-linear-gradient(top, #5c1390 0%, #150621 99%, #150621 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5c1390), color-stop(99%,#150621), color-stop(100%,#150621)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top, #5c1390 0%,#150621 99%,#150621 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top, #5c1390 0%,#150621 99%,#150621 100%); /* Opera11.10+ */
 background: -ms-linear-gradient(top, #5c1390 0%,#150621 99%,#150621 100%); /* IE10+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c1390', endColorstr='#ae8bbd',GradientType=0 ); /* IE6-9 */
 background: linear-gradient(top, #5c1390 0%,#150621 99%,#150621 100%); /* W3C */
 padding: 5px;
 border-radius: 6px;-webkit-border-radius: 6px 6px;-moz-border-radius: 6px;
 -webkit-box-shadow: inset 0 1px 0 #e8dded,
 0 1px 0 #000000;
 -moz-box-shadow: inset 0 1px 0 #e8dded,
 0 1px 0 #000000;
 box-shadow: inset 0 1px 0 #e8dded,
 0 1px 0 #000000;}


#new_lin {text-transform:uppercase; display: block; width: 130px;
 background:#91769c; margin-bottom: 10px;
 padding: 5px;border-radius: 5px;-webkit-border-radius: 5px 5px;-moz-border-radius: 5px; -webkit-box-shadow: inset 0 1px 0 #e8dded,
 0 2px 0 #260534;
 -moz-box-shadow: inset 0 1px 0 #e8dded,
 0 2px 0 #260534;
 box-shadow: inset 0 1px 0 #e8dded,
 0 2px 0 #260534; }
#btn {margin:10px;text-transform:uppercase; width: 90px; display: block; background:#a53ab5;
 background: -moz-linear-gradient(top, #a53ab5 0%, #ae8bbd 99%, #ae8bbd 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a53ab5), color-stop(99%,#cfafdd), color-stop(100%,#cfafdd)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top, #a53ab5 0%,#ae8bbd 99%,#ae8bbd 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top, #a53ab5 0%,#ae8bbd 99%,#ae8bbd 100%); /* Opera11.10+ */
 background: -ms-linear-gradient(top, #a53ab5 0%,#ae8bbd 99%,#ae8bbd 100%); /* IE10+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a53ab5', endColorstr='#ae8bbd',GradientType=0 ); /* IE6-9 */
 background: linear-gradient(top, #a53ab5 0%,#ae8bbd 99%,#ae8bbd 100%); /* W3C */
 padding: 5px;
 border-radius: 5px;-webkit-border-radius: 5px 5px;-moz-border-radius: 5px;
 -webkit-box-shadow: inset 0 1px 0 #e8dded,
 0 2px 0 #260534;
 -moz-box-shadow: inset 0 1px 0 #e8dded,
 0 2px 0 #260534;
 box-shadow: inset 0 1px 0 #e8dded,
 0 2px 0 #260534;}

/*--------------------- moi kod end ---------------------*/

/*--Это код админ бара-просто картинка--*/

.cuzadpn {align:center;background:url('http://delena.ucoz.ru/Diz/css/poloska_03.png')!important;}

/*--Верхний блок--*/
/* <![CDATA[ */

* {margin: 0; padding: 0;}
body {margin: 30px; font: 13px/1.5 "Trebuchet MS", Tahoma, Arial;}
a {color: #d6a0f5;}
p {padding: 7px 0;}
h1 {font-size: 21px; font-weight: normal; margin: 0 0 30px;}

.section {
 color: #000000;
 
 margin: 0 0 30px;
}
ul.tabs {
 margin: 0;
 padding: 0;
 float: left;
 list-style: none;
 height: 20px; /*--Высота вкладок--*/
 cursor: pointer;
 width: 100%;-webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;text-transform: uppercase;
}
ul.tabs li {
 float: left;
 margin: 0;
 padding: 0 8px;
 height: 19px; 
 line-height: 20px; 
 border: 1px solid #999;
 overflow: hidden;
 position: relative;
 background: url('http://delena.ucoz.ru/Diz/css/shum.png');background-position:top;
 cursor: pointer;
 -webkit-box-shadow: inset 0 1px 2px #000000;
 -moz-box-shadow: inset 0 1px 2px #000000;
 box-shadow: inset 0 1px 2px #000000;
 
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;

}
.tabs li:hover,
.vertical .tabs li:hover {
 color: #950da9;
 background: #000000;
 background: -moz-linear-gradient(top, #000000 0%, #ffffff 99%, #ffffff 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(99%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top, #000000 0%,#ffffff 99%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top, #000000 0%,#ffffff 99%,#ffffff 100%); /* Opera11.10+ */
 background: -ms-linear-gradient(top, #000000 0%,#ffffff 99%,#ffffff 100%); /* IE10+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
 background: linear-gradient(top, #000000 0%,#ffffff 99%,#ffffff 100%); /* W3C */;
 cursor: pointer;
 
 
}
.tabs li.current {
 color: #ffffff;
 background: #541184;
 background: -moz-linear-gradient(top, #541184 0%, #000000 99%, #000000 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#541184), color-stop(99%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top, #541184 0%,#000000 99%,#000000 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top, #541184 0%,#000000 99%,#000000 100%); /* Opera11.10+ */
 background: -ms-linear-gradient(top, #541184 0%,#000000 99%,#000000 100%); /* IE10+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#541184', endColorstr='#ae8bbd',GradientType=0 ); /* IE6-9 */
 background: linear-gradient(top, #541184 0%,#000000 99%,#000000 100%); /* W3C */;
 padding: 0 13px 2px;
 border: 1px solid #D4D4D4;
 border-bottom: 1px solid #EFEFEF;
 
 
}
.box { height: ;/*------можно задать постоянную величину----*/
 display: none;
 border: 1px solid #999;
 border-width: 0 1px 1px;
 background:url('http://delena.ucoz.ru/Diz/css/ku56agnrrrr.jpg') #555 ;
 padding: 0 12px;
 -webkit-border-radius: 10px 10px;
 -moz-border-radius: 10px;
 border-radius: 10px;
 -webkit-box-shadow:inset 0 0 20px #000000;
 -moz-box-shadow: inset 0 0 20px #000000;
 box-shadow:inset 0 0 20px #000000;
}
.box.visible {
 display: block;
 background:url('http://delena.ucoz.ru/Diz/css/ku56agnrrrr.jpg') #555 ;
}

.section.vertical {
 width:70px;
 
}
.vertical .tabs {
 width: 70px;
 float: left;
 display: inline;
 margin: 0 0 0 ;
}
.vertical .tabs li {
 padding: 0 13px;
 margin: 0 0 1px;
 border: 1px solid #E4E4E4;
 border-right: 1px solid #F9F9F9;
 width: 60px;
 height: 20px;
 
}
.vertical .tabs li:hover {
 width: 60px;
}
.vertical .tabs li.current {
 width:60px;
 color: #ffffff;
 background: #541184;
 background: -moz-linear-gradient(top, #541184 0%, #000000 99%, #000000 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#541184), color-stop(99%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top, #541184 0%,#000000 99%,#000000 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top, #541184 0%,#000000 99%,#000000 100%); /* Opera11.10+ */
 background: -ms-linear-gradient(top, #541184 0%,#000000 99%,#000000 100%); /* IE10+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#541184', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
 background: linear-gradient(top, #541184 0%,#000000 99%,#000000 100%); /* W3C */;
 border: 1px solid #D4D4D4;
 border-right: 1px solid #EFEFEF;
 margin-right: -1px;
}
.vertical .box {
 border-width: 1px;
 width:635px; height: 150px;margin-left:87px;
}

/* ]]> */



/*--------------------- Header start ---------------------*/

#header {
 margin-left: 100px;
 margin-top: 12px;
 width: 1000px;
 height: 50px;
 background: url(delena.ucoz.ru/Diz/3.jpg);
}

#top-menu {
 height: 39px;
 line-height: 39px;
 text-align: right;
 margin-left: 10px;
 padding-top: 1px;
 cursor: default;
}

#top-menu a {
 margin-top: 10px; 
 margin-right:10px; 
 display: block;
 width: auto;
 cursor: pointer;
 color: #ffffff;
 font: 12px 'Tahoma';
 text-transform: uppercase;
 line-height: 20px;
 text-decoration: none;
 margin-left: 8px;
 outline: none;
}

 }
#top-menu a:hover span.tm, #top-menu a:hover span.tm_left, #top-menu a:hover span.tm_right {
 background-position: 0px -21px;
}

.tm_left {
 display: block;
 float: right;
 width: 5px;
 height: 21px;
 background: url(http://delena.ucoz.ru/Diz/4.png);
 margin-left: 8px;
}

.tm {
 display: block;
 float: right;
 height: 21px;
 background: url(http://delena.ucoz.ru/Diz/5.png);
}

.tm_right {
 display: block;
 float: right;
 width: 5px;
 height: 21px;
 background: url(http://delena.ucoz.ru/Diz/6.png);
}

span.ico {
 padding-left: 15px;
 background-position: 0px 1px;
}

#top-menu a:hover span.ico {
 background-position: 0px -15px;
}

.home {
 background: url(http://delena.ucoz.ru/Diz/css/7.png) no-repeat;
}

.prof {
 background: url(http://delena.ucoz.ru/Diz/css/8.png) no-repeat;
}

.reg {
 background: url(http://delena.ucoz.ru/Diz/css/9.png) no-repeat;
}

.logout {
 background: url(http://delena.ucoz.ru/Diz/css/10.png) no-repeat;
}

.login {
 background: url(http://delena.ucoz.ru/Diz/css/11.png) no-repeat;
}

.rss {
 background: url(http://delena.ucoz.ru/Diz/css/12.png) no-repeat;
}

#sitelogo {
 float: left;
 margin-left: 10px;
 margin-top: 13px;
 width: 760px;
 height: 73px;
 overflow: hidden;
}

#sitelogo-left {
 float: left;
 width: 10px;
 height: 73px;
 background: url(http://delena.ucoz.ru/Diz/css/13.png);
}

#sitelogo-mid {
 float: left;
 height: 73px;
 font: 40px/73px 'Tahoma';
 color: #ffffff;
 max-width: 735px;
 background: url(http://delena.ucoz.ru/Diz/css/14.png);
}

#sitelogo-right {
 float: left;
 width: 10px;
 height: 73px;
 background: url(http://delena.ucoz.ru/Diz/css/15.png);
}

#header-right {
 float: right;
 margin-right: 10px;
 width: 215px;
}



#today {
 text-align: right;
 height: 30px;
 font: 13px/30px 'Tahoma';
 color: #ffffff;
}

#nav {
 width: 1000px;
 margin: auto;
 margin-top: 5px;
 background: url(http://delena.ucoz.ru/Diz/css/17.png);
}

#nav-mid {}

/*--------------------- Header end ---------------------*/
 /*WRAP*/
#wrap {}
#container {width: 1000px; margin: auto;}
/*----*/
/*CONTAINERS*/
#content {margin-top: 5px;}
.sidebar {float: left; width: 207px;}
.sidebar a {color: #333;}
.sidebar-top {height: 5px; overflow: hidden; ;}
.sidebar-mid {}
.sidebar-bot {height: 5px; overflow: hidden;;}
#maincont {float: left;margin: 0px 0px 0px 10px;width: 745px;}
/*----------*/



/* General Style */
a:link {text-decoration:none; color:#ffffff;font-family:verdana; }
a:active {text-decoration:none; color:#ffffff;font-family:verdana;}
a:visited {text-decoration:none; color:#ffffff;font-family:verdana;}
a:hover {text-decoration:none; color:#361344;font-family:verdana;}

a.forRegLink:link, a.topSortLink:link, a.postUser:link, a.postNumberLink:link {text-decoration:underline; color:#333333;}
a.forRegLink:active, a.topSortLink:active, a.postUser:active, a.postNumberLink:active {text-decoration:underline; color:#333333;}
a.forRegLink:visited, a.topSortLink:visited, a.postUser:visited, a.postNumberLink:visited {text-decoration:underline; color:#333333;}
a.forRegLink:hover, a.topSortLink:hover, a.postUser:hover, a.postNumberLink:hover {text-decoration:underline; color:#e0c0eb;}

td, body {font-family:verdana,arial,helvetica; font-size:8pt;color:#cdb1dd;}
form {padding:0px;margin:0px;}
input,textarea,select {vertical-align:middle; font-size:8pt; font-family:arial;}
.copy {font-size:7pt;}

a.noun:link {text-decoration:none; color:#cdb1dd;font-weight:bold;}
a.noun:active {text-decoration:none; color:#cdb1dd;font-weight:bold;}
a.noun:visited {text-decoration:none; color:#cdb1dd;font-weight:bold;}
a.noun:hover {text-decoration:underline; color:#000000;font-weight:bold;}

hr {color:black;height:1px;}
label {cursor:pointer;cursor:hand}

.blocktitle {font-family:Verdana,Sans-Serif;color:#896c9d;font-size:12px;}

a.menu1:link {text-decoration:none; color:#c795ff}
a.menu1:active {text-decoration:underline; color:#c795ff}
a.menu1:visited {text-decoration:underline; color:#c795ff}
a.menu1:hover {text-decoration:none; color:#000000}
.menuTd {padding-left:12px;padding-right:10px; background: url('http://delena.ucoz.ru/Diz/css/24.gif') no-repeat 0px 3px;}

.mframe {border-left:1px solid #e7e5ea; border-right:1px solid #e7e5ea;}
.colgray {border-right:1px solid #e7e5ea;}
.colwhite {border-right:1px solid #c795ff;}
.msep {border-top:1px solid #c795ff;}
/* ------------- */

/* Menus */
ul.uz, ul.uMenuRoot {list-style: none; margin: 0 0 0 0; padding-left: 0px;}
li.menus {margin: 0; padding: 0 0 0 13px; background: url('http://delena.ucoz.ru/Diz/css/25.gif') no-repeat 0px 3px; margin-bottom: .6em;}
/* ----- */



/* Module Part Menu */
.catsTable {}
.catsTd {margin: 0; padding: 0 0 3px 13px; background: url('http://delena.ucoz.ru/Diz/css/25.gif') no-repeat 0px 3px; margin-bottom: .6em;}
.catName {font-size:11px;}
.catNameActive {font-size:11px;}
.catNumData {font-size:7pt;color:#000000;}
.catDescr {font-size:7pt; padding-left:10px;}
a.catName:link {text-decoration:none; color:#86818b;}
a.catName:visited {text-decoration:none; color:#86818b;}
a.catName:hover {text-decoration:underline; color:#000000;}
a.catName:active {text-decoration:none; color:#86818b;}
a.catNameActive:link {text-decoration:none; color:#000000;}
a.catNameActive:visited {text-decoration:none; color:#000000;}
a.catNameActive:hover {text-decoration:underline; color:#000000;}
a.catNameActive:active {text-decoration:none; color:#000000;}
/* ----------------- */

/* Entries Style */
.eBlock {border:1px solid #7d7d7e;padding:1px;border-radius: 7px;-webkit-border-radius:7px 7px;-moz-border-radius: 7px;
 box-shadow:0px 0px 5px #000000 ;
 -webkit-box-shadow:0px 0px 5px #000000;
 -moz-box-shadow: 0px 0px 5px #000000;
background:url('http://delena.ucoz.ru/Diz/css/shum.png');}
.eTitle {height:20px;font-weight:normal;font-family:Verdana,Tahoma,Arial,Sans-Serif;font-size:13px;text-transform: uppercase;padding:0 0 5px 0 ;color: #ffffff;
 background:#9465a8;border:1px solid #bea1d2;box-shadow: 0px 0px 5px black, inset 0px 0px 5px #10440F;

-o-box-shadow: 0px 0px 5px black, inset 0px 0px10px #000000;

-moz-box-shadow: 0px 0px 5px black, inset 0px 0px 10px #000000;

-webkit-box-shadow: 0px 0px 5px black, inset 0px 0px 10px #000000; 
 background: -moz-linear-gradient(top, #75408c 0%, #ae8bbd 99%, #ae8bbd 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75408c), color-stop(99%,#cfafdd), color-stop(100%,#cfafdd)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top, #75408c 0%,#ae8bbd 99%,#ae8bbd 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top, #75408c 0%,#ae8bbd 99%,#ae8bbd 100%); /* Opera11.10+ */
 background: -ms-linear-gradient(top, #75408c 0%,#ae8bbd 99%,#ae8bbd 100%); /* IE10+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75408c', endColorstr='#ae8bbd',GradientType=0 ); /* IE6-9 */
 background: linear-gradient(top, #75408c 0%,#ae8bbd 99%,#ae8bbd 100%); /* W3C */ ;border-radius: 5px;-webkit-border-radius: 5px 5px;-moz-border-radius: 5px;}
.eTitle a:link {text-decoration:none; color:#ffffff}
.eTitle a:visited {text-decoration:none; color:#ffffff;}
.eTitle a:hover {text-decoration:none; color:#000000;}
.eTitle a:active {text-decoration:none; color:#ffffff;}
.eDetails a:active {text-decoration:none; color:#ffffff;}
.eDetails a:hover {text-decoration:none; color:#9e4bc1;}
.ecom {font-size:13px;color:#ffffff;}

.eMessage {text-align:justify;padding:10px;}
.eText {padding-bottom:5px;padding-top:5px;}
.eDetails { background: -moz-linear-gradient(top, #493e4e 0%, #2a1036 99%, #2a1036 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#493e4e), color-stop(99%,#2a1036), color-stop(100%,#2a1036)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top, #493e4e 0%,#2a1036 99%,#2a1036 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top, #493e4e 0%,#2a1036 99%,#2a1036 100%); /* Opera11.10+ */
 background: -ms-linear-gradient(top, #493e4e 0%,#2a1036 99%,#2a1036 100%); /* IE10+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b353e', endColorstr='#40274b',GradientType=0 ); /* IE6-9 */
 background: linear-gradient(top, #493e4e 0%,#2a1036 99%,#2a1036 100%);height:16px;font-family:Verdana,Tahoma,Arial,Sans-Serif;;padding-bottom:5px;padding-top:3px;font-size:7pt;
 border: 1px solid #806c88 ;border-radius: 5px;-webkit-border-radius: 5px 5px;-moz-border-radius: 5px;box-shadow: 0px 0px 5px black, inset 0px 0px 5px #10440F;

-o-box-shadow: 0px 0px 5px black, inset 0px 0px 5px #000000;

-moz-box-shadow: 0px 0px 5px black, inset 0px 0px 5px #000000;

-webkit-box-shadow: 0px 0px 5px black, inset 0px 0px 5px #000000;}




.eAttach {margin: 16px 0 0 0; padding: 0 0 0 15px; background: url('/.s/t/983/26.gif') no-repeat 0px 0px;}
/* ------------- */

/* Entry Manage Table */
.manTable {}
.manTdError {color:#8a00ff;}
.manTd1 {}
.manTd2 {}
.manTd3 {}
.manTdSep {}
.manHr {}
.manTdBrief {}
.manTdText {}
.manTdFiles {}
.manFlFile {}
.manTdBut {}
.manFlSbm {}
.manFlRst {}
.manFlCnt {}

/* ------------------ */

/* Comments Style */
.cAnswer {padding-left:15px;padding-top:4px;font-style:italic;}

.cBlock1 {background:#url('http://delena.ucoz.ru/Diz/css/uuuuuuu.jpg') #78697a; border:1px solid #b089bf;border-radius: 8px;-webkit-border-radius: 8px 8px;-moz-border-radius: 8px;}
.cBlock2 {background:#url('http://delena.ucoz.ru/Diz/css/uuuuuuu.jpg') #78697a; border:1px solid #b089bf;border-radius: 8px;-webkit-border-radius: 8px 8px;-moz-border-radius: 8px;}
/* -------------- */

/* Comments Form Style */
.commTable {}
.commTd1 {color:#000000;}
.commTd2 {}
.commFl {color:#472d73;width:100%;background:url('http://delena.ucoz.ru/Diz/css/kkkkkkkkkk.png') #ac98b2 center top;background-repeat: no-repeat;;border:1px solid #dcaaff;}
.smiles {border:1px inset;background:#FFFFFF;}
.commReg {padding: 10 0 10 0px; text-align:center;}
.commError {color:#8a00ff;}
.securityCode {color:#c795ff;background:#fcfaff;border:1px solid #c6aaff;}
/* ------------------- */

/* Archive Menu */
.archUl {list-style: none; margin:0; padding-left:0;}
.archLi {padding: 0 0 3px 10px; background: url('/.s/t/983/27.gif') no-repeat 0px 4px; font-family:Tahoma,Arial,Sans-Serif;}
a.archLink:link {text-decoration:underline; color:#c795ff;}
a.archLink:visited {text-decoration:underline; color:#c795ff;}
a.archLink:hover {text-decoration:none; color:#000000;}
a.archLink:active {text-decoration:none; color:#000000;}
/* ------------ */

/* Archive Style */
.archiveCalendars {text-align:center;color:#9600ff;}
.archiveDateTitle {font-weight:bold;color:#c795ff;padding-top:15px;}
.archEntryHr {width:250px;color:#DDDDDD;}
.archiveeTitle li {margin-left: 15px; padding: 0 0 0 15px; background: url('/.s/t/983/28.gif') no-repeat 0px 4px; margin-bottom: .6em;}
.archiveEntryTime {width:65px;font-style:italic;}
.archiveEntryComms {font-size:9px;color:#C3C3C3;}
a.archiveDateTitleLink:link {text-decoration:none; color:#c795ff}
a.archiveDateTitleLink:visited {text-decoration:none; color:#c795ff}
a.archiveDateTitleLink:hover {text-decoration:underline; color:#c795ff}
a.archiveDateTitleLink:active {text-decoration:underline; color:#c795ff}
.archiveNoEntry {text-align:center;color:#9600ff;}
/* ------------- */


/* Calendar Style */
.calTable {background: url('http://delena.ucoz.ru/avatar/trhrthtr.png');}
.calMonth {}
.calWday {color:#FFFFFF;background:#7149a7 ; width:18px;}
.calWdaySe {color:#FFFFFF; background:#7149a7; width:18px;}
.calWdaySu {color:#FFFFFF; background:#7149a7; width:18px; font-weight:bold;}
.calMday {color:#ffffff;}
.calMdayA {background:#c795ff;font-weight:bold;color:#FFFFFF;}
.calMdayIs {}
.calMdayIsA {border:1px solid #c795ff; background:#d2c6ff;font-weight:bold;}
/* -------------- */



/* Poll styles */


.pollBut {width:110px;}

.pollBody {padding:7px; margin:0px; background:#FFFFFF}
.textResults {background:#e7e2ea}
.textResultsTd {background:#FFFFFF}

.pollNow {border-bottom:1px solid #e7e2ea; border-left:1px solid #e7e2ea; border-right:1px solid #e7e2ea;}
.pollNowTd {}

.totalVotesTable {border-bottom:1px solid #e7e2ea; border-left:1px solid #e7e2ea; border-right:1px solid #e7e2ea;}
.totalVotesTd {background:#FFFFFF;}
/* ---------- */

/* User Group Marks */
a.groupModer:link,a.groupModer:visited,a.groupModer:hover {color:#ec6e61;font-weight:bold}
a.groupAdmin:link,a.groupAdmin:visited,a.groupAdmin:hover {color:red;font-weight:bold}
a.groupVerify:link,a.groupVerify:visited,a.groupVerify:hover {color:#e38000;font-weight:bold}
a.groupOther1:link,a.groupOther1:visited,a.groupOther1:hover {color:#ff3399;font-weight:bold}
a.groupOther2:link,a.groupOther2:visited,a.groupOther2:hover {color:#00ffd8;font-weight:bold}
a.groupOther3:link,a.groupOther3:visited,a.groupOther3:hover {color:#3182fc;font-weight:bold}
a.groupOther4:link,a.groupOther4:visited,a.groupOther4:hover {color:#a210d2;font-weight:bold}
a.groupUser:link,a.groupUser:visited,a.groupUser:hover{color:#ffffff;font-weight:bold}
a.groupOther5:link,a.groupOther5:visited,a.groupOther5:hover {color:#9582ff;font-weight:bold}
a.groupOther6:link,a.groupOther6:visited,a.groupOther6:hover {color:#ff99cc;font-weight:bold}



/* Other Styles */
.replaceTable {background:url('http://delena.ucoz.ru/Diz/css/uuuuuuu.jpg') #e1cbf7;height:100px;width:300px;border:1px solid #bea5e4;text-align:center}
.replaceBody {background: url('http://delena.ucoz.ru/Diz/css/uuuuuuu.jpg') #55555; text-align:center;}

.legendTd {font-size:7pt;}
/* ------------ */

/* ===== forum Start ===== */

/* General forum Table View */
.gTable {background:url('');}
.gTableTop {padding:2px;background:url('http://delena.ucoz.ru/Diz/css/orlllllll.png') top ;color:#FFFFFF;font-weight:bold;height:30px;padding-left:17px;font-size:10pt;}
.gTableSubTop {padding:2px;background: url('http://delena.ucoz.ru/Diz/css/pppppp.png');color:#000000;height:21px;font-size:10px;}
.gTableBody {padding:2px;background:url('http://delena.ucoz.ru/Diz/css/shuuuuuuum.jpg') #555;}
.gTableBody1 {padding:2px;background:url('http://delena.ucoz.ru/Diz/css/supershum.jpg');}
.gTableBottom {padding:2px;background:url('http://delena.ucoz.ru/Diz/css/shuuuuuuum.jpg') #555;}
.gTableLeft {padding:2px;background:url('http://delena.ucoz.ru/Diz/css/supershum.jpg') #000000;font-weight:bold;color:#ffffff;border;}
.gTableRight {padding:2px;background:url('http://delena.ucoz.ru/Diz/css/supershum.jpg') #000000;}
.gTableError {padding:2px;background:url('http://delena.ucoz.ru/Diz/css/shum2222.png') #554b5e;color:#8a00ff;}
/* ------------------------ */

/* Forums Styles */
.forumNameTd,.forumLastPostTd {padding:2px;background: url('http://delena.ucoz.ru/Diz/css/supershum.jpg') #23122f;}
.forumIcoTd,.forumThreadTd,.forumPostTd {padding:2px;background: #9763b0;color:#000000;}
.forumLastPostTd,.forumArchive {padding:2px;font-size:7pt;}

a.catLink:link {text-decoration:none; color:#FFFFFF;}
a.catLink:visited {text-decoration:none; color:#FFFFFF;}
a.catLink:hover {text-decoration:underline; color:#FFFFFF;}
a.catLink:active {text-decoration:underline; color:#FFFFFF;}

.lastPostGuest,.lastPostUser,.threadAuthor {font-weight:bold;}
.archivedForum{font-size:7pt;color:#8a00ff;font-weight:bold;}
/* ------------- */

/* forum Titles & other */
.forum {font-weight:bold;font-size:9pt;}
.forumDescr,.forumModer {color:#858585;font-size:7pt;}
.forumViewed {font-size:9px;}
a.forum:link, a.lastPostUserLink:link, a.forumLastPostLink:link, a.threadAuthorLink:link {text-decoration:none; color:#dba5f2;}
a.forum:visited, a.lastPostUserLink:visited, a.forumLastPostLink:visited, a.threadAuthorLink:visited {text-decoration:none; color:#dba5f2;}
a.forum:hover, a.lastPostUserLink:hover, a.forumLastPostLink:hover, a.threadAuthorLink:hover {text-decoration:underline; color:#7d2da2;}
a.forum:active, a.lastPostUserLink:active, a.forumLastPostLink:active, a.threadAuthorLink:active {text-decoration:underline; color:#dba5f2;}
/* -------------------- */

/* forum Navigation Bar */
.forumNamesBar {font-weight:bold;font-size:7pt;}
.forumBarKw {font-weight:normal;}
a.forumBarA:link {text-decoration:none; color:#fefcff;}
a.forumBarA:visited {text-decoration:none; color:#fefcff;}
a.forumBarA:hover {text-decoration:none; color:#fefcff;}
a.forumBarA:active {text-decoration:underline; color:#cc95ff;}
/* -------------------- */

/* forum Fast Navigation Blocks */
.fastNav,.fastSearch,.fastLoginForm {font-size:7pt;}
/* ---------------------------- */

/* forum Fast Navigation Menu */
.fastNavMain {background:#e2c6ec;}
.fastNavCat {background:#e2c6ec;}
.fastNavCatA {background:#e2c6ec;color:#9302c2}
.fastNavForumA {color:#9302c2}
/* -------------------------- */

/* forum Page switches */
.switches {}
.pagesInfo {background:url ('http://delena.ucoz.ru/Diz/css/supershum.jpg') #000000;padding-right:10px;font-size:7pt;}
.switch {background:#FFFFFF;width:15px;font-size:7pt;}
.switchActive {background:#c580ed;font-weight:bold;color:#000000;width:15px;}
a.switchDigit:link,a.switchBack:link,a.switchNext:link {text-decoration:none; color:#000000;}
a.switchDigit:visited,a.switchBack:visited,a.switchNext:visited {text-decoration:none; color:#000000;}
a.switchDigit:hover,a.switchBack:hover,a.switchNext:hover {text-decoration:underline; color:#840acb;}
a.switchDigit:active,a.switchBack:active,a.switchNext:active {text-decoration:underline; color:#840acb;}
/* ------------------- */

/* forum Threads Style */
.threadNametd,.threadAuthTd,.threadLastPostTd {padding:2px;padding:2px;background:url('http://delena.ucoz.ru/Diz/css/supershum.jpg');color: #d5d5d5;}
.threadIcoTd,.threadPostTd,.threadViewTd {padding:2px;background:url('') #be91d3;color: #000000;}
.threadLastPostTd {padding:2px;font-size:7pt;}
.threadDescr {color:#858585;font-size:7pt;}
.threadNoticeLink {font-weight:bold;}
.threadsType {padding:2px;background:#a973ba;color:#FFFFFF;height:20px;font-size:10px;padding-left:40px;}
.threadsDetails {padding:2px;background:#d1b3db;color:#000000;height:20px;font-size:10px;}
.forumOnlineBar {padding:2px;background:#a973ba;color:#FFFFFF;height:20px;font-size:10px;}

a.threadPinnedLink:link {text-decoration:none; color:#a166ae;}
a.threadPinnedLink:visited {text-decoration:none; color:#873eb9;}
a.threadPinnedLink:hover {text-decoration:none; color:#cc00ff;}
a.threadPinnedLink:active {text-decoration:underline; color:#cc00ff;}

a.threadLink:link {text-decoration:none; color:#e095ff;}
a.threadLink:visited {text-decoration:none; color:#e095ff;}
a.threadLink:hover {text-decoration:underline; color:#ffffff;}
a.threadLink:active {text-decoration:underline; color:#ffffff;}

.postpSwithces {font-size:7pt;}
.thDescr {font-weight:normal;}
.threadFrmBlock {font-size:7pt;text-align:right;}
/* ------------------- */

/* forum Posts View */
.postTable {}
.postPoll {background:url('') #7e7281;text-align:center;color:gray;}
.postFirst {background:#f9f5fd;border-bottom:3px solid #000000;}
.postRest1 {background:url('') #7e7281;}
.postRest2 {background:#F5F9FD;}
.postSeparator {height:3px;background:#b883c9;}

.postTdTop {background:url('') #b05dcf;color:#000000;height:21px;font-size:10px;}
.postBottom {background:#d794e5;color:#000000;height:20px;}
.postUser {font-weight:bold;}
.postTdInfo {text-align:center;padding:5px;background:url('http://delena.ucoz.ru/Diz/css/opd_02.png') #7e7281;color:#ffffff;}
.postRankName {margin-top:5px;}
.postRankIco {margin-bottom:5px;margin-bottom:5px;}
.reputation {margin-top:5px;}
.signatureHr {margin-top:20px;color:#4a2d5b;}
.posttdMessage {padding:5px;background:url('http://delena.ucoz.ru/Diz/css/shuuuuuuum.jpg');color: #ffffff;}

.pollQuestion {text-align:center;font-weight:bold;} 
.pollButtons,.pollTotal {text-align:center;}
.pollSubmitBut,.pollreSultsBut {width:140px;font-size:7pt;}
.pollSubmit {font-weight:bold;}
.pollEnd {text-align:center;height:30px;}

.codeMessage {background:url('http://delena.ucoz.ru/styles/code.gif') no-repeat #BEBFC0;font-size:7pt;padding:10px 10px 20px 50px;margin:5px 0px;color:#333333;lineHeight:1.8em;border-radius: 10px;-webkit-border-radius: 10px 10px;-moz-border-radius: 10px;} 
.quoteMessage {background:url('http://delena.ucoz.ru/styles/quote.png') no-repeat #c7b0cc;font-size:7pt;padding:10px 10px 20px 50px;margin:5px 0px;color:#333333;lineHeight:1.8em;border-radius: 10px;-webkit-border-radius: 10px 10px;-moz-border-radius: 10px;}

.signatureView {font-size:7pt;} 
.edited {padding-top:30px;font-size:7pt;text-align:right;color:gray;}
.editedBy {font-weight:bold;font-size:8pt;}

.statusBlock {padding-top:3px;}
.statusOnline {color:#0000FF;}
.statusOffline {color:#FF0000;}
/* ------------------ */

/* forum AllInOne Fast Add */
.newThreadBlock {background: #000000;border: 1px solid #B2B2B2;}
.newPollBlock {background: #000000;border: 1px solid #B2B2B2;}
.newThreadItem {padding: 0 0 0 8px; background: url('/.s/t/983/32.gif') no-repeat 0px 4px;}
.newPollItem {padding: 0 0 0 8px; background: url('/.s/t/983/32.gif') no-repeat 0px 4px;}
/* ----------------------- */

/* forum Post Form */
.pollBut, .loginButton, .searchSbmFl, .commSbmFl, .signButton {font-size:7pt;background: #d6c8ff;color:#5b0790;border:1px outset #5b0790;}

.codeButtons {font-size:7pt;background: #d2c8ff;color:#5d0283;border:1px outset #640790;}
.codeCloseAll {font-size:7pt;background: #d2c8ff;color:#5d0283;border:1px outset #640790;font-weight:bold;}
.postNameFl,.postDescrFl {background:#fcfaff;border:1px solid #b095ff;width:400px}
.postPollFl,.postQuestionFl {background:#fcfaff;border:1px solid #b095ff;width:400px}
.postResultFl {background:#fcfaff;border:1px solid #b095ff;width:50px}
.postAnswerFl {background:#fcfaff;border:1px solid #b095ff;width:300px}
.postTextFl {background:url('http://delena.ucoz.ru/Diz/css/kkkkkkkkkk.png') #ac98b2 center top;background-repeat: no-repeat; border:1px solid #b095ff;width:550px;height:150px}
.postUserFl {background:#fcfaff;border:1px solid #b095ff;width:300px}

.pollHelp {font-weight:normal;font-size:7pt;padding-top:3px;}
.smilesPart {;padding-top:5px;text-align:center}
.smiles {border:1px inset;background:#ac98b2;}
/* ----------------- */

/* ====== forum End ====== */